<nav>
    <ul class="list">
        <li class="dib-ns"><a class="no-underline pa2 pl0-ns" href="" ui-sref="movie">Showtimes</a></li>
        <li class="dib-ns"><a class="no-underline pa2" href="" ui-sref="movie.cast">Cast</a></li>
        <li class="dib-ns"><a class="no-underline pa2" href="" ui-sref="movie.description">Description</a></li>
        <li class="dib-ns"><a class="no-underline pa2" href="" ui-sref="movie.trailer">Trailer</a></li>
    </ul>
</nav>
<div ui-view class="ph4-ns ph2">
    <div class="w-50 pa2 fl">
        <img src="../img/legend-of-tarzan-poster.jpg" alt="The Legend of Tarzan Movie Poster" class="mw-100" />
    </div>
    <div class="w-50 pa2 fl showtimes">
        <p class="b">The Legend of Tarzan is playing at:</p>
        <p class="b">  Cinemark Playa Vista and XD</p>
        <p class="pl2">    11:10AM    2:00    4:40    7:50    10:40</p>
        <p class="b">  Cinemark 18 & XD</p>
        <p class="pl2">    11:45AM    2:30    5:15    8:00    10:45</p>
        <p class="b">  ArcLight Culver City</p>
        <p class="pl2">    10:40AM    12:15PM    3:35    5:55    8:20    9:50    10:45</p>
        <p class="b">  AMC Santa Monica 7</p>
        <p class="pl2">    11:10AM    2:00    4:40    7:30    10:10</p>
        <p class="b">  AMC Century City 15</p>
        <p class="pl2">    10:40AM    4:35    10:20</p>
        <p class="b">  iPic Theaters Westwood</p>
        <p class="pl2">    11:15AM    2:30    6:00    8:45</p>
        <p class="b">  Cinemark Baldwin Hills and XD</p>
        <p class="pl2">    4:00    10:10</p>
        <p class="b">  Pacific Theatres at The Grove</p>
        <p class="pl2">    09:45AM    11:50AM    2:20    3:20    5:50    6:40    8:20    10:50</p>
        <p class="b">  ArcLight Beach Cities</p>
        <p class="pl2">    10:10AM    11:05AM    2:45    4:40    7:35    10:15</p>
        <p class="b">  TCL Chinese Theatres</p>
        <p class="pl2">    12:50PM    3:50    6:50    9:50</p>
    </div>
</div>
